/* Copyright [2023] [Andy Wenk]

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License. 
*/

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f0f0f0;
}

.blue {
  background-color: cadetblue;
  color: white
}

h1 {
  font-size: 24px;
  margin-top: 30px;
  margin-bottom: 20px;
}

.container {
  width: 80%;
  max-width: 600px;
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

button {
  font-size: 16px;
  padding: 8px 12px;
  margin: 4px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #eee;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #ddd;
}

button:disabled {
  background-color: #eee;
  opacity: 0.5;
  cursor: not-allowed;
}

#selected-directory {
  display: inline-block;
  margin-left: 10px;
  font-weight: bold;
}

#duplicate-list {
  list-style-type: none;
  padding: 0;
}

#duplicate-list li {
  margin-bottom: 10px;
}
